<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="JdeReplication" connectionString="Data Source=RYEDWSQL;Initial Catalog=RYANDW_STG;User ID=JobSetupReader;Password=0nb0@rd2;Integrated Security=SSPI;Connect Timeout=15;Encrypt=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="VendorOnboardingConn" connectionString="Data Source=Rysql2014;Initial Catalog=VendorOnboarding;User ID=vendorapi;Password = onboarding;Integrated Security=false;Connect Timeout=15;Encrypt=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="OracleHostName" value="ryprac.ryan.local" />
    <add key="OraclePort" value="1521" />
    <add key="OracleDbName" value="ryprac.ryancompanies.com" />
    <add key="OracleUserName" value="venonboard" />
    <add key="OracleServerName" value="PDCTL920" />
    <add key="OraclePwd" value="bulls3y3!" />
    <add key="RTEFilepath" value="\\ryjdeapp3-p\integrations\E1toNexus\Vendors\onboard" />
    <add key="VOBAdminEmail" value="Dawn.Lepouce@RyanCompanies.com ,Mitch.Meilstrup@ryancompanies.com,bhargava.iragam@ryancompanies.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>